p#pogrubienie_ostrowski{
    font-size: 33px; 
    color: #9732D1; 
}

p#pochylona_ostrowski{
    font-size: 38pt; 
    color: #F89A6D; 
}

p#index_gorny_ostrowski{
    font-size: 1.3cm; 
    color: #A65C4B; 
}

p#index_dolny_ostrowski{
    font-size: 2.1cm; 
    color: #42F8F7; 
}

p#mono_ostrowski{
    font-size: 43px; 
    color: #2A8EB2;
}

p#powiekszenie_ostrowski{
    color: #5E3B9F; 
}

p#pomniejszenie_ostrowski{
    color: #E011FF;
}